<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>{% block title %}Cricket Board{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap-3.4.1.min.css' %}" type="text/css" rel="stylesheet"/>

    {% block css_block %}
    {% endblock css_block %}
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'crt:all-fixtures' %}">All Fixtures</a></li>
                {%if leagues %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Points
                    </a>
                    <ul class="dropdown-menu">
                        {%for league in leagues%}
                        <li><a class="dropdown-item" href="{% url 'crt:points-table' league.id %}">{{league.name}}</a>
                        </li>
                        {%endfor%}
                    </ul>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<!-- Jquery js -->
<script type="text/javascript" language="javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<!-- Bootstrap js -->
<script type="text/javascript" language="javascript" src="{% static 'js/bootstrap-3.4.1.min.js' %}"></script>
{% block javascript %}
{% endblock %}
</body>
</html>
